@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Order
<div class="content-body">
    <!-- Content types section start -->
    <section id="content-types">
        <div class="row justify-content-center">
            <div class="toolbar py-2" id="kt_toolbar">
                <!--begin::Container-->
                <div id="kt_toolbar_container" class="container-fluid d-flex align-items-center">
                    <!--begin::Page title-->
                    <div class="flex-grow-1 flex-shrink-0 me-5">
                        <!--begin::Page title-->
                        <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                            <!--begin::Title-->
                            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
                                İlanı Düzenle
                            </h1>
                            <!--end::Title-->
                        </div>
                        <!--end::Page title-->
                    </div>
                    <!--end::Page title-->
                </div>
                <!--end::Container-->
            </div>

            <div class="col-12 col-xl-12 col-md-12">
                <div class="card">
                    <div class="card-content table align-middle table-row-dashed fs-6 gy-5" style="align-items: center;">
                        @*  <div class="card-body">
                        <h4 class="card-title">Contact Form</h4>
                        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                        </div> *@
                        <div class="card-body">
                            <form class="form">
                                <input type="hidden" id="CarsId" style="display:none;">
                                <input type="hidden" id="OrderId" style="display:none;">
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center justify-content-center mt-2">
                                        <p class="mb-4">Fotoğraf :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="photoInput" aria-describedby="inputGroupFileAddon" multiple>
                                            </div>
                                        </div>
                                        <!-- Eklenen fotoğrafları göstermek için bir liste -->
                                        <ul id="photoList" class="list-group mt-3">
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center justify-content-center  mt-2">
                                        <p class="mb-4">Marka :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="Brand" placeholder="Marka">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center justify-content-center  mt-2">
                                        <p class="mb-4">Model :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="Model" placeholder="Model">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center justify-content-center  mt-2">
                                        <p class="mb-4">Yıl :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="Year" placeholder="Yıl">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center justify-content-center  mt-2">
                                        <p class="mb-4">Yakıt Tipi :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="FuelType" placeholder="Yakıt">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center justify-content-center  mt-2">
                                        <p class="mb-4">Vites Tipi :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="GearType" placeholder="Vites">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center justify-content-center  mt-2">
                                        <p class="mb-4">Kilometre:</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="KM" placeholder="KM">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center justify-content-center  mt-2">
                                        <p class="mb-4">Kasa Tipi :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="CaseType" placeholder="Kasa">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center justify-content-center  mt-2">
                                        <p class="mb-4">Motor Gücü :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="EnginePower" placeholder="MotorGücü">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center justify-content-center  mt-2">
                                        <p class="mb-4">Motor Hacmi :</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="EngineCapacity" placeholder="MotorHacmi">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 d-flex align-items-center justify-content-center  mt-2">
                                        <p class="mb-4">Renk:</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="Color" placeholder="Renk">
                                    </div>
                                </div>
                                <div class="form-actions d-flex justify-content-end">
                                    <a href="javascript:void(0);" onclick="history.back();" class="btn btn-danger text-white">Vazgeç</a>&nbsp;&nbsp;
                                    <a onclick="UpdateCarOrder()" class="btn btn-success text-white">Kaydet</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content types section end -->
</div>
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/jquery.datatables.min.js"></script>
<script src="~/js/adminscript.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var urlParams = new URLSearchParams(window.location.search);
    var Id = urlParams.get('Id');
    debugger
    $(document).ready(function () {
        GetEditCarOrder(Id)
    });  
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>

<script>

    function updatePhotoInputFiles() {
        var photoInput = document.getElementById('photoInput');
        if (photoInput) {
            var newFiles = new DataTransfer();

            for (var i = 0; i < selectedPhotos.length; i++) {
                newFiles.items.add(selectedPhotos[i]);
            }

            // Mevcut dosyaların üzerine eklenen yeni dosyaları ekleyin
            var existingFiles = photoInput.files;
            for (var j = 0; j < existingFiles.length; j++) {
                newFiles.items.add(existingFiles[j]);
            }

            // Dosya listesini güncelleyin
            Object.defineProperty(photoInput, 'files', {
                value: newFiles.files,
                writable: true
            });
        } else {
            console.error('Fotoğraf input alanı bulunamadı.');
        }
    }


    function getPhotosFromServer(Id) {
        debugger
        $.ajax({
            type: "GET",
            url: '/Admin/GetCarOrderImage/?Id=' + Id, // Sunucunuzun ilgili endpoint'i
            success: function (response) {
                debugger
                // Sunucudan gelen fotoğrafları sayfaya ekleyin
                addPhotosFromServer(response.data);
            },
            error: function (xhr, status, error) {
                var errorMessage = "Bir sorun ile karşılaşıldı!";

                try {
                    var response = JSON.parse(xhr.responseText);
                    if (response && response.error) {
                        errorMessage = response.error; // Sunucudan gelen hata mesajını al
                    }
                } catch (e) {
                    // JSON hatası varsa varsayılan hatayı kullan
                }

                swal.fire("Hata!", errorMessage, "error");
            }

        });
    };

    // Sunucudan gelen fotoğrafları sayfaya ekleyen fonksiyon
    function addPhotosFromServer(serverPhotos) {
        var photoList = document.getElementById('photoList');
        var containerDiv = document.createElement('div');
        containerDiv.className = 'd-flex flex-row flex-wrap';

        serverPhotos.forEach(function (photo) {
            var listItem = document.createElement('div');
            listItem.className = 'position-relative p-2';

            var img = document.createElement('img');
            img.src = photo.name;
            img.className = 'img-fluid img-thumbnail';
            img.style.maxWidth = '200px';
            img.style.height = 'auto';

            var deleteBtn = createDeleteButton(listItem, selectedPhotos.length);
            deleteBtn.className = 'btn btn-sm position-absolute top-0 end-0 m-2';
            deleteBtn.innerHTML = '<i class="fas fa-times"></i>';
            deleteBtn.title = 'Sil';

            listItem.appendChild(img);
            listItem.appendChild(deleteBtn);
            containerDiv.appendChild(listItem);
        });

        // Mevcut containerDiv'i photoList'e ekleyin
        photoList.appendChild(containerDiv);
    }


    getPhotosFromServer(Id);
</script>

<script>
    var selectedPhotos = []; // Dosyaları temsil eden dizi

    document.getElementById('photoInput').addEventListener('change', function (e) {
        var files = e.target.files;
        var photoList = document.getElementById('photoList');

        // Yeni bir div oluşturun ve bu div'e d-flex flex-row flex-wrap sınıfını ekleyin
        var containerDiv = document.createElement('div');
        containerDiv.className = 'd-flex flex-row flex-wrap';

        for (var i = 0; i < files.length; i++) {
            if (files[i].type.startsWith('image/')) {
                var listItem = document.createElement('div');
                listItem.className = 'position-relative p-2';

                var img = document.createElement('img');
                img.src = URL.createObjectURL(files[i]);
                img.className = 'img-fluid img-thumbnail';
                img.style.maxWidth = '200px';
                img.style.height = 'auto';

                var deleteBtn = createDeleteButton(listItem, i);
                deleteBtn.className = 'btn btn-sm position-absolute top-0 end-0 m-2';
                deleteBtn.innerHTML = '<i class="fas fa-times"></i>';
                deleteBtn.title = 'Sil';

                listItem.appendChild(img);
                listItem.appendChild(deleteBtn);

                // listItem'ı containerDiv'e ekleyin
                containerDiv.appendChild(listItem);
            }
        }

        // containerDiv'i photoList'e ekleyin
        photoList.appendChild(containerDiv);
    });


    function createDeleteButton(item, index) {
        var deleteBtn = document.createElement('button');
        deleteBtn.type = 'button';

        deleteBtn.addEventListener('click', function () {
            if (item) {
                item.parentNode.removeChild(item);
                selectedPhotos.splice(index, 1);
                updatePhotoInputFiles();
            } else {
                console.error('Eleman bulunamadı.');
            }
        });

        return deleteBtn;
    }

   
</script>

