@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    @*begin::Toolbar*@
    <div class="toolbar py-2" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex align-items-center">
            <!--begin::Page title-->
            <div class="flex-grow-1 flex-shrink-0 me-5">
                <!--begin::Page title-->
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <!--begin::Title-->
                    <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">
                        Modaretor Yönetim
                    </h1>
                    <!--end::Title-->
                </div>
                <!--end::Page title-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Container-->
    </div>

    @*end::Toolbar*@
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddUserModal">Kullanıcı Ekle</button>
                </div>
                <!--begin::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0 mw-650px">
                <!--begin::Table-->
                <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_ModaretorList">
                    <!--begin::Table head-->
                    <thead>
                        <!--begin::Table row-->
                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                            <th class="min-w-125px">S/N</th>
                            <th class="min-w-125px">Adı</th>
                            <th class="min-w-125px">Soyadı</th>
                            <th class="min-w-125px">Telefon</th>
                            <th class="min-w-125px">UserName</th>
                            <th class="min-w-125px">E-Mail</th>
                            <th class="min-w-125px">Adres</th>
                            <th class="min-w-125px">İşlemler</th>
                        </tr>
                        <!--end::Table row-->
                    </thead>
                    <!--end::Table head-->
                    <!--begin::Table body-->
                    <!--end::Table body-->
                </table>
                <!--end::Table-->
            </div>
            <!--end::Card body-->
        </div>

    </div>
    <!--end::Container-->
</div>

<!--Begin::AddUser-->
<div class="modal fade" id="AddUserModal"  tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px" role="document">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Form-->
            <form class="form" id="kt_modal_add_customer_form">
                <!--begin::Modal header-->
                <div class="modal-header" id="kt_modal_add_customer_header">
                    <!--begin::Modal title-->
                    <h2 class="fw-bolder">Kullanıcı Düzenle</h2>
                    <!--end::Modal title-->
                    <!--begin::Close-->
                    <!--end::Close-->
                </div>
                <!--end::Modal header-->
                <!--begin::Modal body-->
                <div class="modal-body py-10 px-lg-17">
                    <!--begin::Scroll-->
                    <div class="scroll-y me-n7 pe-7" id="kt_modal_add_customer_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_customer_header" data-kt-scroll-wrappers="#kt_modal_add_customer_scroll" data-kt-scroll-offset="300px">
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Adı</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" id="FirstName" name="FirstName" class="form-control form-control-solid" required />
                            <!--end::Input-->
                        </div>
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Soyadı</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" id="LastName" name="LastName" class="form-control form-control-solid" required />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Kullanıcı Adı</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" id="UserName" name="UserName" class="form-control form-control-solid" required />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">E-Mail</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" id="Email" name="Mail" class="form-control form-control-solid" required />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Telefon</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="tel" id="PhoneNumber" name="PhoneNumber" pattern="[0-9]{11}" maxlength="11" class="form-control form-control-solid" required />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Adres</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" id="Adress" name="Adress" class="form-control form-control-solid" required />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Şifre</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->

                            <div style="position: relative;">
                                <input type="password" id="Password" name="Password" class="form-control form-control-solid" required />
                                <i class="fa fa-eye" id="eyeIcon" onclick="togglePassword('Password')" style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                            </div>
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Şifre Onay</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                        
                            <div style="position: relative;">
                                <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control form-control-solid" required />
                                <i class="fa fa-eye" id="eyeIconx" onclick="togglePasswordx('ConfirmPassword')" style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                            </div>
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::Scroll-->
                </div>
                <!--end::Modal body-->
                <!--begin::Modal footer-->
                <div class="modal-footer flex-center">
                    <!--begin::Button-->
                    <button type="button" class="btn btn-light me-3" onclick="closeModal()">Vazgeç</button>
                    <!--end::Button-->
                    <!--begin::Button-->
                    <a onclick="AddModaretor()" class="btn btn-primary">
                        <span class="indicator-label" data-dismiss="modal">Kaydet</span>
                    </a>
                    <!--end::Button-->
                </div>
                <!--end::Modal footer-->
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
<!--End:: AddUser-->

<!--Begin::EditUser-->
<div class="modal fade" id="EditUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px" role="document">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Form-->
            <form class="form" id="kt_modal_add_customer_form">
                <!--begin::Modal header-->
                <div class="modal-header" id="kt_modal_add_customer_header">
                    <!--begin::Modal title-->
                    <h2 class="fw-bolder">Kullanıcı Düzenle</h2>
                    <!--end::Modal title-->
                    <!--begin::Close-->
                    <!--end::Close-->
                </div>
                <!--end::Modal header-->
                <!--begin::Modal body-->
                <div class="modal-body py-10 px-lg-17">
                    <!--begin::Scroll-->
                    <div class="scroll-y me-n7 pe-7" id="kt_modal_add_customer_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_customer_header" data-kt-scroll-wrappers="#kt_modal_add_customer_scroll" data-kt-scroll-offset="300px">
                        <!--begin::Input group-->
                        <input type="hidden" id="UserID" name="ID" value="" />

                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Adı</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" id="FirstName" name="FirstName" class="form-control form-control-solid" required />
                            <!--end::Input-->
                        </div>
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Soyadı</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" id="LastName" name="LastName" class="form-control form-control-solid" required />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Kullanıcı Adı</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" id="UserName" name="UserName" class="form-control form-control-solid" required />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->    
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">E-Mail</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" id="Email" name="Mail" class="form-control form-control-solid" required />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Telefon</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" id="PhoneNumber" name="NumberPhone" pattern="[0-9]{11}" maxlength="11" class="form-control form-control-solid" required />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Adres</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" id="Adress" name="Adress" class="form-control form-control-solid" required />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Şifre</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <div style="position: relative;">
                                <input type="password" id="EditPassword" name="EditPassword" class="form-control form-control-solid" required />
                                <i class="fa fa-eye" id="eyeIcon2" onclick="editTogglePassword('EditPassword')" style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                            </div>
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->        

                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="fs-6 fw-bold mb-2">
                                <span class="required">Şifre Onay</span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <div style="position: relative;">
                                <input type="password" id="EditConfirmPassword" name="EditConfirmPassword" class="form-control form-control-solid" required />
                                <i class="fa fa-eye" id="eyeIcon2x" onclick="editTogglePasswordx('EditConfirmPassword')" style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;"></i>
                            </div>
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::Scroll-->
                </div>
                <!--end::Modal body-->
                <!--begin::Modal footer-->
                <div class="modal-footer flex-center">
                    <!--begin::Button-->
                    <button type="button" class="btn btn-light me-3" onclick="closeModal()">Vazgeç</button>
                    <!--end::Button-->
                    <!--begin::Button-->
                    <a onclick="UpdateModaretor()" class="btn btn-primary">
                        <span class="indicator-label" data-dismiss="modal">Kaydet</span>
                    </a>
                    <!--end::Button-->
                </div>
                <!--end::Modal footer-->
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
<!--End:: EditUser-->


<script src="~/js/jquery.js"></script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/jquery.datatables.min.js"></script>
<script src="~/js/adminscript.js"></script>
<script>
    $(document).ready(function () {
        GetModaretor();
    });
    function closeModal() {
        $('.modal').modal('hide');
    }
</script>
<script>
    function togglePassword(inputId) {
        var x = document.getElementById(inputId);
        var eyeIcon = document.getElementById('eyeIcon');

        if (x.type === "password") {
            x.type = "text";
            eyeIcon.className = 'fa fa-eye-slash'; // Kapalı göz ikonu
        } else {
            x.type = "password";
            eyeIcon.className = 'fa fa-eye'; // Açık göz ikonu
        }
    }
    function togglePasswordx(inputId) {
        var x = document.getElementById(inputId);
        var eyeIconx = document.getElementById('eyeIconx');

        if (x.type === "password") {
            x.type = "text";
            eyeIconx.className = 'fa fa-eye-slash'; // Kapalı göz ikonu
        } else {
            x.type = "password";
            eyeIconx.className = 'fa fa-eye'; // Açık göz ikonu
        }
    }
</script>
<script>
    function editTogglePassword(inputId) {
        debugger
        var x = document.getElementById(inputId);
        var eyeIcon2 = document.getElementById('eyeIcon2');

        if (x.type === "password") {
            x.type = "text";
            eyeIcon2.className = 'fa fa-eye-slash'; // Kapalı göz ikonu
        } else {
            x.type = "password";
            eyeIcon2.className = 'fa fa-eye'; // Açık göz ikonu
        }
    }
    function editTogglePasswordx(inputId) {
        var x = document.getElementById(inputId);
        var eyeIcon2x = document.getElementById('eyeIcon2x');

        if (x.type === "password") {
            x.type = "text";
            eyeIcon2x.className = 'fa fa-eye-slash'; // Kapalı göz ikonu
        } else {
            x.type = "password";
            eyeIcon2x.className = 'fa fa-eye'; // Açık göz ikonu
        }
    }
</script>
