@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap");
body {
    align-items: center;
    justify-content: center;
}

.card {
    margin-left:350px;
    height: 600px;
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('https://lambo360.glitch.me/image/lambo4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: 0 0 100px lightyellow;
    border: 1px solid lightyellow;
    animation: dj 9s ;
}

@keyframes dj {
    0% {
        background-image: url(https://lambo360.glitch.me/image/lambo1.jpg);
    }

    10% {
        background-image: url(https://lambo360.glitch.me/image/lambo3.jpg);
    }

    20% {
        background-image: url(https://lambo360.glitch.me/image/lambo5.jpg);
    }

    30% {
        background-image: url(https://lambo360.glitch.me/image/lambo9.jpg);
    }

    40% {
        background-image: url(https://lambo360.glitch.me/image/lambo11.jpg);
    }

    50% {
        background-image: url(https://lambo360.glitch.me/image/lambo15.jpg);
    }
    60% {
        background-image: url(https://lambo360.glitch.me/image/lambo19.jpg);
    }
    70% {
        background-image: url(https://lambo360.glitch.me/image/lambo25.jpg);
    }
    80% {
        background-image: url(https://lambo360.glitch.me/image/lambo30.jpg);
    }
    90% {
        background-image: url(https://lambo360.glitch.me/image/lambo35.jpg);
    }
    100% {
        background-image: url(https://lambo360.glitch.me/image/lambo40.jpg);
    }

}



