@{
    Layout = "/Views/Shared/_UserLayout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<form action="#" name="submitInfoUpdate" method="POST" class="col-lg-9 profile-details-div">
    <link href="~/css/Panel-css/MyLikes.css" rel="stylesheet" />
    <!-- Profile -->
    <div class="container">
        <div id="myLikesApp">
            <div class="row"><p class="capture-big">BEĞENDİKLERİM</p></div> <div>
                <p class="capture-small" style="font-size:18px;" >
                    Otel ve Tur sayfalarındaki "Beğendiklerime Ekle" butonuna tıklayarak beğendiklerim listesine ekleyebilirsiniz.
                </p>
            </div>  <ul>
                <li>
                    <div class="ets-my-like-box" style="background-image: none;">
                        <article><h4>Beğendiklerim</h4>  <p>Bu liste henüz boş...</p></article> <div class="button-set">
                            <a href="javascript:;" class="icon">
                                <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.678571 4.07143H2.03571V17.9686C2.03944 19.2862 3.10666 20.3534 4.42429 20.3571H14.6029C15.9099 20.3386 16.9607 19.2757 16.9643 17.9686V4.07143H18.3214C18.6962 4.07143 19 3.76762 19 3.39286C19 3.01809 18.6962 2.71429 18.3214 2.71429H13.5714V1.35714C13.5717 0.620666 12.9845 0.0184119 12.2482 0H6.78571C6.03618 0 5.42857 0.607614 5.42857 1.35714V2.71429H0.678571C0.303807 2.71429 0 3.01809 0 3.39286C0 3.76762 0.303807 4.07143 0.678571 4.07143ZM6.78571 1.35714H12.2143V2.71429H6.78571V1.35714ZM15.6071 4.07143H5.42857H3.39286V17.9686C3.39266 18.5278 3.83813 18.9853 4.39714 19H14.5757C15.1454 19 15.6071 18.5382 15.6071 17.9686V4.07143Z" fill="white"></path><path d="M7.24714 16.2856C7.62191 16.2856 7.92572 15.9818 7.92572 15.6071V7.46422C7.92572 7.08945 7.62191 6.78564 7.24714 6.78564C6.87238 6.78564 6.56857 7.08945 6.56857 7.46422V15.6071C6.56857 15.9818 6.87238 16.2856 7.24714 16.2856Z" fill="white"></path><path d="M11.7529 16.2856C12.1276 16.2856 12.4314 15.9818 12.4314 15.6071V7.46422C12.4314 7.08945 12.1276 6.78564 11.7529 6.78564C11.3781 6.78564 11.0743 7.08945 11.0743 7.46422V15.6071C11.0743 15.9818 11.3781 16.2856 11.7529 16.2856Z" fill="white"></path></svg>
                                Sil
                            </a> <a href="javascript:;" class="icon">
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.0865 1.96107C15.8794 1.7417 15.6153 1.62417 15.3332 1.6197C15.0657 1.61298 14.7848 1.72379 14.5822 1.92525L7.87115 8.58593L9.37319 10.0846L16.0507 3.42393C16.2566 3.21799 16.3618 2.96616 16.3618 2.67403C16.3618 2.39086 16.2633 2.13791 16.0865 1.96107ZM6.85151 11.1009L7.94726 10.7953L7.15819 10.0074L6.85151 11.1009ZM5.05175 11.9761L6.07923 8.31059L13.5793 0.687359C14.6292 -0.278557 16.2622 -0.218117 17.2192 0.816073C17.6904 1.32869 17.9344 1.99241 17.9064 2.68523C17.8773 3.36573 17.5885 3.9914 17.0882 4.44917L9.90036 11.6225C9.78843 11.8004 5.95051 12.8704 5.95051 12.8704H5.68413C5.22523 12.7854 4.97116 12.3791 5.05175 11.9761ZM17.2622 11.7052C17.2622 11.2676 17.579 10.9508 18.0166 10.9508C18.4543 10.9508 18.771 11.2676 18.771 11.7052V14.5335C18.771 16.9489 16.8056 18.9132 14.3902 18.9132H4.38076C1.96541 18.9132 0 16.9489 0 14.5335V4.52517C0 2.10982 1.96541 0.144409 4.38076 0.144409H7.21023C7.64674 0.144409 7.96461 0.461158 7.96461 0.898786C7.96461 1.33529 7.64674 1.65316 7.21023 1.65316H4.38076C2.79701 1.65316 1.50875 2.94142 1.50875 4.52517V14.5335C1.50875 16.1173 2.79701 17.4067 4.38076 17.4067H14.3902C15.974 17.4067 17.2622 16.1173 17.2622 14.5335V11.7052Z" fill="white"></path></svg>
                                Değiştir
                            </a>
                        </div>
                    </div>
                </li>
                <li class="NewListGroup">
                    <a href="javascript:;" class="add-button">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 0C13.8704 0 12.9545 0.915784 12.9545 2.04545V12.9545H2.04545C0.915818 12.9545 0 13.8703 0 15C0 16.1296 0.915818 17.0455 2.04545 17.0455H12.9545V27.9545C12.9545 29.0843 13.8704 30 15 30C16.1297 30 17.0455 29.0843 17.0455 27.9545V17.0455H27.9545C29.0842 17.0455 30 16.1296 30 15C30 13.8703 29.0842 12.9545 27.9545 12.9545H17.0455V2.04545C17.0455 0.915784 16.1297 0 15 0Z" fill="#056BFD"></path></svg>
                        Yeni bir liste oluştur
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Profile -->
</form>
