@{
    Layout = "/Views/Shared/_UserLayout.cshtml";
}
<link href="~/css/Panel-css/SavedSearches.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<form action="#" name="submitInfoUpdate" method="POST" class="col-lg-9 profile-details-div saved-search-filters-page-content">

    <div class="container">
        <div class="row">
            <p class="capture-big">Kayıtlı Aramalarım</p>
        </div>
        <div class="row">
            <p class="capture-small">
                Otel sayfasında "Filtreyi Kaydet" butonuna basarak aramalarınızı kaydedebilirsiniz.
            </p>
        </div>
        <div class="row">
            <div id="profile-saved-searches" class="profile-saved-search-filters-container"></div>
        </div>
    </div>
</form>