@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/salesdetail.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <div class="container " id="container">
        <div id="carouselExampleIndicators" class="carousel slide"  >
          <div class="Header">
            <h1>Popular Car</h1> <img src=""> 
          </div>
            <div class="carousel-indicators" id="button">
              <button   type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" class="btn"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"  class="btn"></button>
              <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"  class="btn"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"  class="btn"></button>
              <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"  class="btn"></button>
            </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="Header">
                        <h5>Ferrari Testorossa 1984</h5> <img src="" alt="">
                      </div>
                    <img src="~/images/Screenshot_3.png"  class="d-block w-100">
                    <div class="Line"></div>
                    <div class="CarDetail">
                            <img class="carDetailIcon" src="~/images/icons/user.png" width="40px" height="40px">Kişi Sayısı:2
                            <img class="carDetailIcon" src="~/images/icons/vitesKutusu.png" width="40px" height="40px">Vites :Otomatik
                            <img class="carDetailIcon" src="~/images/icons/kapı.png" width="40px" height="40px">Kapı Sayısı:2
                            <img class="carDetailIcon" src="~/images/icons/yakıt.png" width="40px" height="40px">Yakıt Tipi:Benzin
                      <div class="CarBtn">
                        <input type="button" value="Hemen Kirala" class="KiralaBtn">
                      </div>
                    </div>         
                  </div>
                  <div class="carousel-item">
                    <div class="Header ">
                        <h5>Porsche 911</h5> <img src="">
                    </div>
                    <img src="~/images/popular1.png" class="d-block w-100 ">
                    <div class="Line"></div>
                    <div class="CarDetail">
                            <img class="carDetailIcon" src="~/images/icons/user.png" width="40px" height="40px">Kişi Sayısı:4
                            <img class="carDetailIcon" src="~/images/icons/vitesKutusu.png" width="40px" height="40px">Vites :Otomatik
                            <img class="carDetailIcon" src="~/images/icons/kapı.png" width="40px" height="40px">Kapı Sayısı:4
                            <img class="carDetailIcon" src="~/images/icons/yakıt.png" width="40px" height="40px">Yakıt Tipi:Hybrid
                      <div class="CarBtn">
                        <input type="button" value="Hemen Kirala" class="KiralaBtn">
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="Header">
                        <h5>Porsche 911</h5> <img src="">
                      </div>
                        <img src="~/images/popular2.png" class="d-block w-100">
                    <div class="Line"></div>
                    <div class="CarDetail">
                            <img class="carDetailIcon" src="~/images/icons/user.png" width="40px" height="40px">Kişi Sayısı:2
                            <img class="carDetailIcon" src="~/images/icons/vitesKutusu.png" width="40px" height="40px">Vites :Otomatik
                            <img class="carDetailIcon" src="~/images/icons/kapı.png" width="40px" height="40px">Kapı Sayısı:2
                            <img class="carDetailIcon" src="~/images/icons/yakıt.png" width="40px" height="40px">Yakıt Tipi:Benzin
                      <div class="CarBtn">
                        <input type="button" value="Hemen Kirala" class="KiralaBtn">
                      </div>
                    </div>   
                  </div>
                  <div class="carousel-item">
                    <div class="Header">
                        <h5>Porsche 911</h5> <img src="">
                      </div>
                        <img src="~/images/popular4.png" class="d-block w-100">
                    <div class="Line"></div>
                    <div class="CarDetail">
                            <img class="carDetailIcon" src="~/images/icons/user.png" width="40px" height="40px">Kişi Sayısı:2
                            <img class="carDetailIcon" src="~/images/icons/vitesKutusu.png" width="40px" height="40px">Vites :Otomatik
                            <img class="carDetailIcon" src="~/images/icons/kapı.png" width="40px" height="40px">Kapı Sayısı:2
                            <img class="carDetailIcon" src="~/images/icons/yakıt.png" width="40px" height="40px">Yakıt Tipi:Benzin
                      <div class="CarBtn">
                        <input type="button" value="Hemen Kirala" class="KiralaBtn">
                      </div>
                    </div>  
                  </div>
                  <div class="carousel-item">
                    <div class="Header">
                        <h5>Porsche 911</h5> <img src="">
                      </div>
                        <img src="~/images/popular5.png" class="d-block w-100">
                    <div class="Line"></div>
                    <div class="CarDetail">
                            <img class="carDetailIcon" src="~/images/icons/user.png" width="40px" height="40px">Kişi Sayısı:2
                            <img class="carDetailIcon" src="~/images/icons/vitesKutusu.png" width="40px" height="40px">Vites :Otomatik
                            <img class="carDetailIcon" src="~/images/icons/kapı.png" width="40px" height="40px">Kapı Sayısı:2
                            <img class="carDetailIcon" src="~/images/icons/yakıt.png" width="40px" height="40px">Yakıt Tipi:Benzin
                      <div class="CarBtn">
                        <input type="button" value="Hemen Kirala" class="KiralaBtn">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>