@{
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link href="~/css/paymentstyle.css" rel="stylesheet" />
    <div class="container ">
        <div class="CardBrand row mt-15px">
            <div class="logoclass">
                <img class="logo" src="~/images/stratton-oakmont.png">
                <h1>Stratton Payment Method</h1>
            <div class="line"></div>
            </div>
     
                <div class="Card col-md-5">
            <a href="/Payment/Card">
                        <img class="img" src="~/images/creditcard.png">
                </a>
                </div>
                
                <div class="Card col-md-5">
                    <a href="#">
                        <img class="img" src="~/images/Card-Image/Bitcoin.svg.png" style="height:90px;">
                </a>
                </div>
                
        </div>
    </div>

<script src="~/admin/js/bootstrap.js"></script>
